<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>修改管理员信息</title>
	<link rel="stylesheet" type="text/css" href="styles/admin.css"/>
</head>
<body>
<div id="adminUpdate">
	<center>
		<form action="admin.php?controller=classify&method=updateCate" method="post">
			<table cellpadding="0" cellspacing="0" border="0" width="80%">
				<caption>修改商品分类信息</caption>
				<tr>
					<th width="20%">字段</th>
					<th width="40%">当前信息</th>
					<th width="40%">更新信息</th>
				</tr>
				<tr>
					<td>分类名称</td>
					<td>{$row.cName}</td>
					<td><input type="text" name="cName" placeholder="请输入新的分类名称"></td>
				</tr>
			</table>
			<input type="hidden" name="id" value="{$row.id}">
			<input type="submit" name="submit" value="确认修改"/>
			<input type="reset" name="reset"/>
		</form>
	</center>
</div>
</body>
</html>