<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
	<title>Admin-Top</title>
	<link rel="stylesheet" type="text/css" href="styles/admin.css"/>
</head>
<body>
<dir id="top">
	<div class="logoBar">
		<ul>
			<li><img src="images/admin_icon/logo.png" alt="logo"></li>
			<li>东东电子商务后台管理系统</li>
		</ul>
	</div>
	<div class="navBar">
		<ul>
			<b>欢迎 {$username|default:'您'}</b>
			<li><a href="admin.php?controller=admin&method=main" target="rightFrame">首页</a></li>
			<li><a href="#">前进</a></li>
			<li><a href="#">后退</a></li>
			<li><a href="#">刷新</a></li>
			<li><a href="admin.php?controller=admin&method=logout" target="_top">退出</a></li>
		</ul>
	</div>
	<div class="current">
		<ul>
			<li>管理员</li>
			<li>后台管理</li>
		</ul>
	</div>
</dir>
</body>
</html>