@charset "utf-8";
/* CSS Document */

/* 公用样式 */
* { padding: 0; margin: 0; list-style: none;font-size: 14px; text-decoration: none; font-family: "Microsoft YaHei";}
a, span { color: #555555;line-height: 20px;}
a:hover { color: red; }
li,span { display: inline-block; }
input { outline: none; border: none; background: none;}
.comWidth { width: 1000px;margin: 0 auto;}
.leftFloat { float: left;}
.rightFloat { float: right;}
.hidden { display: none; }
.display { display: block;}
.clearBoth { clear: both; }
.bold {font-weight: bold;}

/* 顶部样式 */
#header { width: 100%;height: 150px; }
.topBar { width: 100%;height: 30px; }
.topBar .left {background: url(../images/icon/xing.gif) left 8px no-repeat transparent; padding:4px 0 0 14px;}
.topBar .left a { font:bold 14px/18px "Microsoft YaHei";color: #656565;padding-left: 2px; }
.topBar .right span { color: #000; line-height: 30px;}
.logoBar { width: 100%;height: 85px; background: #1D7AD9; }
.logoBar .left { margin: 6px 0 0 40px; }
.logoBar .middle { margin: 22px 30px 0 180px; }
.logoBar input[type='text'] { width:360px;height: 35px;background-color: #fff; }
.logoBar input[type='submit'] { width: 70px;height: 35px;background-color: #FF8C00;color: #fff;}
.logoBar .right { width: 145px;height: 35px;background-color: #FF8C00;margin-top:22px; }
.logoBar .shopCar {width: 47px; height: 32px; background: url(../images/icon/shopCar.jpg)10px center no-repeat transparent;padding:3px 0px 0 40px;color: #fff;border-right:1px solid #E27A00;  } 
.logoBar .message {width: 20px; height: 32px; background: url(../images/icon/sj.jpg)33px center no-repeat transparent;padding:3px 15px 0 20px;color: #fff; border-left:1px solid #FF9C01;} 
.navBar { width: 100%;height: 35px;background: #1369C0; }
.navBar .left {width: 190px;line-height: 35px; font-size: 15px; font-weight: bold;color: #fff;text-align: center; background: url(../images/icon/down.jpg) 150px center no-repeat transparent;/* padding:0 0 65px 40px; */}
.navBar .right a { float: left;color: #fff;width: 106px; line-height: 35px;text-align: center; }
.navBar .right a:hover { background-color: #4593FD; }
.navBar .active {background-color: #4593FD;}

/**********************************************/
/*                 产品分类页                 */
/**********************************************/
/* 主体样式 */
#main { width: 100%;}
/* 左侧导航栏 */
.leftNav { width: 188px; border: 1px solid #DDDDDD; border-bottom: none; background: #F3F3F3;}
.leftNav h4 { font-size: 15px; border-bottom: 1px solid #DDDDDD; color: #555555; padding: 10px 0 10px 30px;}
.leftNav dl { width: 138px; padding: 10px 20px 0; margin-bottom: -5px; border-bottom: 1px dotted #DDDDDD; display: inline-block;}
.leftNav dt { float: left; font-size: 14px; font-weight: bold; color: #555555; clear: both; }
.leftNav dd { float: left; clear: both; padding-bottom: 10px;}
.leftNav a  { width: 64px; float: left; font-size: 12px; margin-top: 5px;}
.leftNav a:hover { text-decoration: underline; }

.bannerBox { width: 810px;height:340px;position: relative; }
/* banner */
.bigBan { position: absolute;top: 0;left: 0; z-index: -1;}
.bigBan .banner {width: 810px;height:326px; float:right; position:relative; overflow:hidden;}
.imgBox {width: 1620px;height:326px; position:absolute; left:0;}
.imgBox li {float:left;}
.imgBox img {display:block;width: 810px;height:325px;}
.imgIndex { position:absolute; left:0; bottom:15px; width:100%; text-align:center;}
.imgIndex a {width:20px; height:5px; overflow:hidden; background-color:#fff; display:inline-block; margin:0 3px;}
.imgIndex .active{background-color:#FF7700;}

/* productShow */
.productShow { width: 810px;}
/* digital */
.digital { width: 100%;float: left;}
.digital h4 { width: 794px; font-size: 16px; font-weight: bold; color: #474747; display: inline-block; padding: 10px; border-bottom: 2px solid #CFCFCF; }
.digital:last-child h4 { margin-top: 23px; }
.detail { width: 200px; overflow: hidden; float: left; }
.detail p:nth-child(2) { width: 160px; height: 50px; font-size: 13px; color: #414141; margin-left: 20px; }
.detail p:nth-child(2) a { font-size: 13px; color: #414141;}
.detail p:nth-child(3) { width: 50px; font-size: 14px; font-weight: bold; color: #D62E63; margin: 15px 0 0 20px;}
.detail p:nth-child(4) { color: #505050; margin-left: 20px; float: left;}
.detail p:nth-child(4) span { float: left;  font-size: 12px;}
.detail p:nth-child(4) img { padding-top: 2px; float: left; padding-top: 1px;}
.detail p:nth-child(4) a { color: #1867A1; float: left; font-size: 12px;} 
.detail a:hover { text-decoration: underline; }


/* 最底部样式 */
#footer { width: 100%; height: 227px; background: #D4D4D4; text-align: center; float: left; position: relative;margin-top: 50px;}
#footer p:nth-child(1) { font-size: 12px; font-weight: bold; color: #262626; position: absolute; right: 0; left: 0; top: 55px; }
#footer p:nth-child(1) a { font-size: 12px; font-weight: bold; color: #262626; }
#footer p:nth-child(2) { font-size: 12px; color: #050505; margin-top: 10px;  position: absolute; right: 0; left: 0; top: 75px; }
#footer p:nth-child(3) {  position: absolute; right: 0; left: 0; top: 105px; }
#footer p:nth-child(3) img { margin: 33px 11.5px 0; }