@charset "utf-8";
/* CSS Document */

/* 公用样式 */
* { padding: 0; margin: 0; list-style: none;font-size: 14px; text-decoration: none; font-family: "Microsoft YaHei";}
a, span { color: #555555;line-height: 30px;}
a:hover { color: red; }
li,span { display: inline-block; }
input { outline: none; border: none; background: none;}
.comWidth { width: 1000px;margin: 0 auto;}
.leftFloat { float: left;}
.rightFloat { float: right;}
.hidden { display: none; }
.display { display: block;}
.clearBoth { clear: both; }
.bold {font-weight: bold;}

/* 顶部样式 */
#header { width: 100%;height: 150px; }
.topBar { width: 100%;height: 30px; }
.topBar .left {background: url(../images/icon/xing.gif) left 8px no-repeat transparent; padding:4px 0 0 14px;}
.topBar .left a { font:bold 14px/18px "Microsoft YaHei";color: #656565;padding-left: 2px; }
.topBar .right span { color: #000; }
.logoBar { width: 100%;height: 85px; background: #1D7AD9; }
.logoBar .left { margin: 6px 0 0 40px; }
.logoBar .middle { margin: 22px 30px 0 180px; }
.logoBar input[type='text'] { width:360px;height: 35px;background-color: #fff; }
.logoBar input[type='submit'] { width: 70px;height: 35px;background-color: #FF8C00;color: #fff;}
.logoBar .right { width: 145px;height: 35px;background-color: #FF8C00;margin-top:22px; }
.logoBar .shopCar {width: 47px; height: 32px; background: url(../images/icon/shopCar.jpg)10px center no-repeat transparent;padding:3px 0px 0 40px;color: #fff;border-right:1px solid #E27A00;  } 
.logoBar .message {width: 20px; height: 32px; background: url(../images/icon/sj.jpg)33px center no-repeat transparent;padding:3px 15px 0 20px;color: #fff; border-left:1px solid #FF9C01;} 
.navBar { width: 100%;height: 35px;background: #1369C0; }
.navBar .left {width: 190px;line-height: 35px; font-size: 15px; font-weight: bold;color: #fff;text-align: center; background: url(../images/icon/down.jpg) 150px center no-repeat transparent;/* padding:0 0 65px 40px; */}
.navBar .right a { float: left;color: #fff;width: 106px; line-height: 35px;text-align: center; }
.navBar .right a:hover { background-color: #4593FD; }
.navBar .active {background-color: #4593FD;}

/******************************************/
/*                  商品介绍页            */
/******************************************/
#descriptionBox { width: 100%;background: #F0F0F0;}
.proClassify { width: 100%;padding: 28px 0 16px 0; }
.proClassify a,
.proClassify span { font: 12px/16px 'Microsoft YaHei';color: #555; }
.proClassify .bold { font-weight: bold; }
/* 产品展示 */
.proShow { width: 100%; height: 608px; background: #fff;border:1px solid #CCCCCC;}
.imgShow { width: 310px; height: 100%; border-right: 1px solid #C2C2C2; }
.imgShow .big {width: 100%;height: 300px;text-align: center; padding: 20px 0; }
.imgShow .small { width: 266px;height: 268px;padding: 0 22px;}
.imgShow .small ul { width: 270px;height: 52px;}
.imgShow .small li { float: left;width: 52px;height: 52px;border:1px solid #CCCCCC;}
.imgShow .small li:nth-child(1) {background: url(../images/detail/ipadmini_fuck.png)-3px -3px no-repeat transparent;}
.imgShow .small li:nth-child(2) {background: url(../images/detail/ipadmini_fuck.png)-56px -3px no-repeat transparent;}
.imgShow .small li:nth-child(3) {background: url(../images/detail/ipadmini_fuck.png)-109px -3px no-repeat transparent;}
.imgShow .small li:nth-child(4) {background: url(../images/detail/ipadmini_fuck.png)-162px -3px no-repeat transparent;}
.imgShow .small li:nth-child(5) {background: url(../images/detail/ipadmini_fuck.png)-215px -3px no-repeat transparent;}
.imgShow .small li:hover { border: 1px solid #317EE7; }
.buyOptions  { width: 689px; height: 100%;}
.buyOptions .top { width: 98%; height: 146px; margin: 0 auto;}
.buyOptions .top h3 { font: bold 16px/22px 'Microsoft YaHei'; padding: 25px 30px 0}
.buyOptions .top p { font:12px/16px "Microsoft YaHei";color: #666666; margin:5px 0 0 15px;}
.buyOptions .top .shit { font-size: 20px; color: #D70000; font-weight: bold;margin-left: 10px;}
.buyOptions .top small { font-size: 10px; }
.buyOptions .top .fuck { background: url(../images/detail/satisfaction.png) left center no-repeat; padding-left: 58px; margin-left: 10px;}
.buyOptions .middle { width: 98%; height: 245px; background: #F2F2F2; margin:0 auto;margin-top: 13px; }
.buyOptions .middle dl { float: left;clear: both; }
.buyOptions .middle dt {font:12px/16px 'Microsoft YaHei'; width: 60px;padding:20px 0 0 15px;float:left;}
.buyOptions .middle dd { float: left;margin-top: 10px;}
.buyOptions .middle select { height: 22px; margin-top: 5px; width: auto; font-size: 14px; color: #666666;margin-right: 14px;padding-right: 15px; border: 1px solid #DCDCDC; appearance:none;-moz-appearance:none;-webkit-appearance:none; background: url(../images/icon/point_down.png) 98% center no-repeat scroll transparent;background-color: #fff;}
.buyOptions .middle span { border: 1px solid #CCCCCC; background-color: #fff; padding: 0 10px; float: left; margin-right: 10px;}
.buyOptions .middle span:hover { border-color: #317EE7; }
.buyOptions .middle .dl2 span { padding: 5px 20px; color: #000000; }
.buyOptions .middle .dl3 dd {  width:530px; }
.buyOptions .middle .dl3 span { margin-bottom: 10px; }
.buyOptions .middle .active { border-color: #317EE7; }
.buyOptions .middle .nums { width: 85px; height: 32px; border: 1px solid #B2B2B2; text-align: center;}
.buyOptions .middle input { float: left; }
.buyOptions .middle input[type='button'] {width:13px;height:30px; margin-top: 1px; background: linear-gradient(to bottom, #F9F9F9, #ECECEC);}
.buyOptions .middle input[type='text'] { width:55px;height: 32px; background:#fff; border-right:1px solid #B2B2B2;border-left:1px solid #B2B2B2; text-align: center;margin-top: -1px;}
.buyOptions .middle .dl4 span { border: none; background: #F2F2F2; padding-top: 3px;}
.buyOptions .bottom .p1 {font:bold 12px/30px 'Microsoft YaHei'; margin-left: 15px;margin-top: 20px;}
.buyOptions .bottom .p1 span { color: #0479C9;padding-left: 10px; }
.buyOptions .bottom div { width: 98%; height: 90px; }
.buyOptions .bottom div p { width: 49%;height: 100%; float: left;}
.buyOptions .bottom a {text-align: center; width: 140px;font:24px/50px 'Microsoft YaHei'; background: url(../images/icon/shopCar.jpg)20px center no-repeat transparent;padding-left: 40px;background-color: #FF8708;color: #fff;display: inline-block; }
.buyOptions .bottom .p2 a {margin-right: 46px;margin-top: 20px;}
.buyOptions .bottom .p2 { border-right: 1px solid #CBCBCB; }
.buyOptions .bottom .p3 a {margin-left: 46px;margin-top: 20px;}
.buyOptions .bottom .p4 { color: #CCCCCC;margin-left:15px; }
/* 产品介绍 */
.detail { width: 100%;margin-top: 15px;}
/* 同价位--左侧栏 */
.left_bar { width: 190px;float: left;border: 1px solid #CCCCCC; }
.left_bar dt { width: 100%; height: 40px; border-top: 3px solid #1D86CF; border-bottom: 1px solid #CCCCCC;margin-bottom: -4px}
.left_bar dt span { padding:5px 17px; font-size: 16px; color: #333333; }
.left_bar dd { width: 100%; background: #fff;}
.left_bar img { display: inline-block; width: 70px; height: 120px; padding: 18px 20px; margin: 0 39px;}
.left_bar a { margin: 0 0 0 15px; font-size: 14px; color: #999999; float: left;}
.left_bar a:hover { text-decoration: underline; }
.left_bar span { margin:5px 0 5px 15px; color: #DE0000; float: left;}
/* 产品详情 */
.introduce { width: 785px; height: 600px; float: right; background: #fff;}
.info { width: 100% ;height: 200px;}
.info ul { display: inline-block; width: 783px; height: 40px; background: linear-gradient(to bottom, #F4F4F4,#EEEEEE 50%, #EAEAEA 100%); border: 1px solid #D7D7D7; }
.info li { width: 50%; font:16px/40px 'Microsoft YaHei'; float: left; text-align: center;}
.info li:first-child {background: url(../images/detail/desc.png) 36% center no-repeat transparent;}
.info li:last-child  {background: url(../images/icon/des_title_icon.png) 28% center no-repeat transparent;}
.info li:hover,
.info ul .active { background-color: #0479CA;color: #fff; font-weight: bold;}
.info dl { width: 100%; float: left; line-height: 32px; }
.info dt { width: 100px; padding: 12px 0 0 10px; float: left; font-size: 14px; color: #666666; font-weight: bold;}
.info dl:nth-child(2) dd { width: 530px; height: 18px; margin-top: 70px; background: #BDBDBD;float: left; }
.info dl:nth-child(2) span { width: 90px; height: 18px; font-size: 12px; color: #FFFFFF; float: left; text-align: center; margin-top: -7px;}
.info dl:nth-child(2) img {float: right; margin: -20px 30px 0 0;}
.info dl:nth-child(3) dt { margin-top: -25px; font-size: 18px; color: #66667D; font-weight: 400;}
.info dl:nth-child(3) span { font-size: 50px; color: #FF8F00; } 
.info dl:nth-child(3) dd { font-size: 12px; color: #66667D; float: left; }
/* 评论 */
.comment_box { width: 100%;}
.comment_box .top dl { width: 100%; height: 32px; background: #F2F2F2; }
.satisfaction { height: 100%; float: left; }
.satisfaction span { height: 100%;float: left; text-align: center; margin:0 20px;}
.satisfaction span:hover,
.satisfaction .active { color: #317EE7;border-bottom: 3px solid #317EE7; cursor: pointer;}
.sort { width: 160px; height: 100%; float: right;}
.sort span { width: 42%;height: 80%; border: 1px solid #CDCDCD;margin-top:2px;background: url(../images/detail/arrow_down.png) 95% center no-repeat transparent; text-align: center; font-size: 14px; color: #000000;padding-right: 10px;}
.sort img { float: right; margin: -42px 10px 0 0; }
/* comment */
.comment { width: 100%;}
.face { padding: 17px 25px;}
.face p,
.face img {float: left;clear: both;}
.face .p { font-size: 12px; color: #77778C; text-align: center;}
.comment .content { padding: 25px 45px; }
.comment .content p { line-height: 32px; }
.comment .content p:nth-child(1) span { font-size: 14px; color: #000000; font-weight: bold; float: left;margin-top: -8px;}
.comment .content p:nth-child(1) img { float: left; }
.comment .content p:nth-child(2) { font-size: 12px; color: #777777; }
.comment .content p:nth-child(3) a { color: #085C9B; padding-right: 10px;}
.comment .time { float: right; padding: 25px 20px;}
.comment .time dd { font-size: 12px; color: #ABABAB; }
/* 咨询 */
.consult_box { width: 100%; height: 476px; float: left; margin-top: 15px; background: #fff; }
.consult_title { width: 100%; height: 34px; }
.consult_title p:first-child { width: 130px;text-align: center; line-height: 30px; border: 1px solid #0688BA; border-bottom: none;float: left; }
.consult_title p:first-child a { font-size: 14px; color: #085793; font-weight: bold; }
.consult_title p:last-child { width: 652px; line-height: 30px; border-bottom: 1px solid #0688BA; float: left; }
.consult_title p:last-child a { float: right; color: #085793; font-size: 14px;padding-right: 20px; }
.tips { width: 754px;margin: 10px 10px 0 20px; background: #F3F3F3; }
.tips p { font-size: 12px; color: #777777; line-height: 25px; padding: 10px 20px; }
.consult { float: left;margin-bottom: 0px; }
.consult_content { width: 660px; float: right; margin-top: 10px; }
.consult_content p { color: #777777; font-size: 13px; line-height: 30px;}
.consult_content p:nth-child(1) {width: 300px;float: left;}
.consult_content p:nth-child(1) span { color: #333333; font-weight: bold; }
.consult_content p:nth-child(2) {width: 200px;height: 20px; float: right; text-align: center; }
.consult_content p:nth-child(3) { width: 580px; background: #F1F1F1; padding: 20px 30px; float: left; }
.consult_content p:nth-child(3) span { color: #333333; font-size: 14px;}

/* 最底部样式 */
#footer { width: 100%; height: 227px; background: #D4D4D4; text-align: center; float: left; position: relative;margin-top: 50px;}
#footer p:nth-child(1) { font-size: 12px; font-weight: bold; color: #262626; position: absolute; right: 0; left: 0; top: 55px; }
#footer p:nth-child(1) a { font-size: 12px; font-weight: bold; color: #262626; }
#footer p:nth-child(2) { font-size: 12px; color: #050505; margin-top: 10px;  position: absolute; right: 0; left: 0; top: 75px; }
#footer p:nth-child(3) {  position: absolute; right: 0; left: 0; top: 105px; }
#footer p:nth-child(3) img { margin: 33px 11.5px 0; }
